.HeaderContainer {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #1212125e;
    font-family: Georgia, serif;
    text-transform: uppercase;
}
.item:hover {
    color: black;
}
